html {
  font-size: 62.5%;
}
body {
  background: #eee;
  color: #333;
  font-size: 1.8rem;
}
h3 {
  margin-top: 0;
}

.wrap {
  width: clamp(30rem, 50%, 60rem);
  margin: 10rem auto;
}

.inputs {
  background: #58ce91;
  padding: 6rem 4rem;
  text-align: center;
  color: #fff;
}
.input {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: center;
}
.legend {
  margin: 0 4rem 0 0;
}

.result {
  background: #fff;
}
.result-inner {
  padding: 6rem 4rem;
  text-align: center;
}
.coins {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coins li {
  width: 40%;
}
.coins + div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coins + div p:first-child {
  margin: 0 1rem 0 0;
}
